.navbar-toggler-icon {
    background-color: rgb(215, 203, 207);
    padding: 20px;
}

.main_iconos {
    margin-top: 30px;
    margin-bottom: 50px;
}

@media screen and (min-width: 300px) and (max-width: 1000px) {
    .main_cavani {
        width: 95%;
        margin-left: 10px;
    }
}

