<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        {{#each products}}
            <div>
                <li>Producto: {{this.title}}<br> - Descripcion: {{this.description}}<br> - Cantidad: {{this.quantity}}<br> - Precio: {{this.price}}<br><br><br><br></li>
            </div>
        {{/each}}
    </ul>
</body>
</html>
